body {
    margin: 0;
    padding: 0;
    
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    background: url(../img/background.jpg) center center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    padding: 17px 90px; /* + 90px */
    display: flex;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    justify-content: space-between; /* to properly align in width */
}

.right-block {
    /*margin-left: auto;*/
    display: flex;
}

a {
    color: #3CB878;
    /*color: #329a65;*/
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.journey {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    color: #ffffff;
    font-weight: 900;
    line-height: 28px;
}

.journey:hover {
    color: #3CB878;
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0 15px 0 0;
}

.ul-icons li {
    display: inline-block;
    background-image: url(../img/css_sprites.png);
    width: 35px;
    height: 26px; /*increased on 1px*/
    margin-left: 20px;
}

.ul-icons .li-icon1 {
    background-position: -72px 0px;
}

.ul-icons .li-icon3 {
    background-position: 0px -30px;
}

.ul-icons .li-icon1:hover {
    background-position: -72px -29px;;
}

.ul-icons .li-icon2:hover {
    background-position: -38px 0px;;
}

.ul-icons .li-icon3:hover {
    background-position: -30px -30px;;
}

.welcome::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #5a5856;
    margin-right: 25px;
    vertical-align: middle; /* ! to align */
}

.welcome {
    /*margin-right: 90px;*/
    font-size: 14px;
    line-height: 29px; /* centers text because height ov elem is 28px */
}

.main {
    width: 444px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 32px 60px;
    color: #434343;
    font-size: 14px;
    position: relative;
}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    top: 35px;
    left: 0px;
}

.login, .social-media{
    display: flex;
    justify-content: space-between;
}

.login {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-media span {
    font-weight: 900;
    font-size: 20px;
}

.google span::after {
    content: "";
    height: 10px;
    border-left: 1px solid rgba(155, 30, 30, 0.5);
    margin-right: 20px;
    margin-left: 10px;
}

.facebook span::after {
    content: "";
    height: 10px;
    border-left: 1px solid rgba(21, 28, 124, 0.5);
    margin-right: 12px;
    margin-left: 18px;
}

.social-media a {
    text-decoration: none;
    font-size: 16px;
}

.facebook {
    background-color: #264b96;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;transition: 0.3s;
    opacity: 0.9;
    transition: 0.3s;
}

.facebook:hover {
    opacity: 1;
}

.google {
    background-color: #df4a32;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.3s;
}

.google:hover {
    opacity: 1;
}

.main p {
    color: #848484;
}

.alternate-sign-up {
    position: relative;
}

.alternate-sign-up::after {
    content: "";
    /*display: block;*/
    height: 1px;
    width: 100%;
    background-color: rgb(221, 216, 216);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.alternate-sign-up span {
    padding: 0 20px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.account-details {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 322px;
    display: block;
    font-size: 14px;
    /*color: #cbcbcb;*/
    border-radius: 4px;
    margin: 15px auto;
    padding: 15px;
}

.account-details::placeholder {
    color: #d3d2d2;
}

input {
    color: #685e5e;
    font-weight: 600;
}

.account-details:hover, .account-details:focus {
    box-shadow: 0px 7px 11px -6px rgba(0,0,0,0.4);
    outline: none;
}

form {
    text-align: left;
}

.create-account {
    width: 100%;
    max-width: 322px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #00a750;
    color: #ffffff;
    font-size: 16px;
    padding: 17px;
    margin-top: 25px;
    transition: all .15s ease;
    border: transparent;
    outline: none;
    transition: 0.3s;
    opacity: 0.9;
}

.create-account:hover {
    opacity: 1;
}


/* checkbox https://www.youtube.com/watch?v=NBb2OV2iQCw */

.checkbox {
    position: relative;
}

.checkbox-input {
  position: absolute;
  appearance: none;  
  -webkit-appearance: none;
  outline: none;
}

.checkbox-input::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px;
}

.checkbox-label {
    padding-left: 35px;
    line-height: 28px;
    cursor: pointer;
}

.checkbox-label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/checkmark.png) no-repeat;
    background-size: 20px 20px;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 3px;
    z-index: 2;
    cursor: pointer;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}