body {
    padding: 0;
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 50px;
}

.content-holder {
    width: 1065px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header {
    margin-bottom: 50px;
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.text-holder p:first-child {
    font-size: 23px;
}

.text-holder p {
    margin: 0 10px;
}

.text-holder {
    float: right;
}

.logo .img-holder {
    height: 45px;
    width: 45px;
    background: url(../img/logo-trans.png) center center no-repeat;
    background-size: contain;
    float: left;
}

.logo:hover .img-holder {
    background: url(../img/logo-hov.png) center center no-repeat;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #f26522;
}

.contacts {
    float: right;
}

.contacts p {
    margin: 0;
    text-align: end;
}

.tours-holder {
    margin: 0 -32.5px;
}

.tour-item {
    float: left;
    width: calc(33.333% - 65px);
    margin: 0 32.5px 50px 32.5px;
}

.tour-item .img-holder {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 203px;
    
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #ffffff, #000000 ) 1 100%;
}

.tour-item .img-holder img {
    border-top: 2px solid #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    /*object-fit: cover;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.tour-item:hover .description {
    opacity: 1;
    visibility: visible;
}

.tour-item:hover a {
    color: #f26522;
}

.details {
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    position: absolute;
    top: 26px;
}

.details::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 8px;
    margin-left: 10px;
    background: url(../img/chevron.png) center center no-repeat;
    background-size: contain;
}

.price {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.price {
    font-size: 10px;
    margin-right: 126px;
}

.price span {
    font-size: 18px;
}

.description {
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F26522;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out; /*animation */
}

.tour-item a {
    text-decoration: none;
}

.tour-footer {
    margin-top: 23px;
    text-align: center;
}

.footer {
    clear: both;
    text-align: center;
    font-size: 12px;
}
