* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    max-width: 1900px;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* header {
    width: 100%;
} */

.nav-bar {
    display: flex;
    padding: 25px 25px;
    align-items: center;
    background-color: #1d2124;
}

.nav-bar a, li, .fas {
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
}

 .logo a {
    font-size: 22px;
    font-weight: 900;
    text-transform: capitalize;
}

li:last-child {
    margin-left: auto;
    cursor: pointer;
}

.menu {
    margin-right: 37px;
}

.flex-parallax {
    background: url(../img/header-bg.jpeg) center center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 145px;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

button {
    width: 170px;
    height: 55px;
    color: #ffffff;
    margin: 44px 10px;
    border-radius: 3px;
    border-color: transparent;
    background-color: #14b9d5;
    font-size: 18px;
    cursor: pointer;
}

button:first-child{
    background-color: #89ca62;
}

.flex-posts {
    background-color: #f2f2f2;
}

.content-holder {
    /* width: 100%; */
    max-width: 1170px;
    margin: 0 auto;
}

.flex-posts h2 {    
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    margin: 50px auto 20px auto;
}

.flex-images {
    height: 900px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.img-holder {
    width: 370px;
    display: block;
    margin-top: 30px;
}


.description {
    padding: 20px;
    color: #353a3d;
    font-size: 18px;
    background-color: #fff;
    text-align: center;
}

.grid-parallax {
    background: url(../img/parallax-bg.jpeg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 200px;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    /* https://stackoverflow.com/questions/45536537/centering-in-css-grid */
}

.grid-parallax h2 {
    font-weight: 600;
    font-size: 32px;
}

hr {
    background-color: #14b9d5;
    width: 60px;
    height: 3px;
    border: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.programs h2, .news-wrapper h2 {
    color: #14b9d5;
    font-weight: bold;
    font-size: 27px;
    margin: 50px auto;
}

.clients-logo img {
    margin-right: 80px;
}

.programs-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
}

.news-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1170px;
    margin: 0 auto;
    height: 1480px;
  }
  
  .news-img1 {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 259px;
    background-color: #f9f7f7
  }
  
  .news-img2 {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 258px;
    background-color: #f9f7f7;
  }
  
  .news-img3 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
    background-color: #f9f7f7;
    margin-top: -27px;
  }
  
  .news-img4 {
    grid-area: 2 / 3 / 3 / 5;
    display: flex;
    flex-direction: column;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
    margin-top: -27px;;
  }
  
  .news-img5 {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
    margin-top: 27px;
  }
  
  .news-img6 {
    grid-area: 3 / 3 / 4 / 5;
    display: flex;
    flex-direction: column;
    width: 554px;
    height: 418px;
    background-color: #f9f7f7;
    margin-top: 27px;
  }
  
  .news-img7 {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 259px;
    background-color: #f9f7f7;
    margin-top: 30px;
  }
  
  .news-img8 {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
    justify-content: space-between;
    width: 845px;
    height: 259px;
    background-color: #f9f7f7;
    margin-top: 30px;
  }
  
  h4 {
    font-size: 18px;
    color: #353A3D;
    text-align: right;
    margin: 20px;
  }

  .news-title {
    text-align: center;
    margin-top: 10px;
  }
  
  .news-paragraph {
    font-size: 14px;
    color: #5B6469;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 100;
  }
/* https://gridbyexample.com/examples/example31/ */
footer {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 40px 95px;
    padding: 28px 80px;
    background-color: #1d2124;
    font-size: 13px;
    color: #ffffff;
    font-weight: 100;
}

/* In case logo-description should not be image - please uncomment below code */
/* .footer-logo {
    color: #eaeaea;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 17px;
} */