body {
    margin: 0;
    background-color: black;
  }

p {
    color: #ecc900;
  }
  
  #board {
    font-family: 'Pathway Gothic One', sans-serif;
    transform: perspective(300px) rotateX(18deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
  }
  
  #content {
    animation-iteration-count: infinite;
    animation: scroll linear 60s infinite; 
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }