.container {
    width: 1280px;
    padding: 100px 61px 30px 100px;
    font-family: 'Myriad Pro';
}

h1 a {
    text-decoration: none;
    color:#000000;
    font-size: 80px;
    font-weight: 100;
}

span {
    color: #4bcaff;
}

.header {
    width: 1180px;
    padding-left: 100px;
    background-color: #35444f;
}

.header li {
    display: inline-block;
    font-size: 24px;
    padding: 22.5px;
}

.header li:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.header li a {
    text-decoration: none;
    color: #ffffff;
}

.side-menu {
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    box-sizing: border-box;
}

.side-menu ul {
    padding: 0;
}

.side-menu li:hover {
    background-color: #dbdbdb;
    text-decoration-color: #000000;
}

/*.side-menu li.active {    
    background-color: #dbdbdb;
    text-decoration-color: #000000;
}*/

.side-menu li.active a {
    color: #000000;
    padding-left: 25px;
}

.side-menu li:hover a {
    color: #000000;
    padding-left: 25px;
}

.side-menu li a {
    text-decoration: none;
    color: #485863;
    font-size: 29px;
}

.side-menu li {
    list-style-type: none;
    padding: 20px;
    padding-left: 35px;
}

.logo {
    width: 100%;
    height: 529px;
    position: relative;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* was only able to center both image and hover over image using this guide:
https://css-tricks.com/centering-css-complete-guide/
sorry :)
*/
.logo img {
    position: absolute;    
    top: 50%;    
    left: 50%;  
    transform: translate(-50%, -50%); /* or transform: translateY(-50%) translateX(-50%) */
}

.logo:hover img {
    top: 50%;    
    left: 50%; 
    transform: translate(-50%, -50%) scale(1.2);
}

.side-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    width: 343px;
}

.content {
    display: inline-block;
    width: 882px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
}

.content p {
    max-width: 815px;
    text-align: justify;
    display: block;   
    margin: 25px auto;
}

.footer a {
    text-decoration: none;
    font-size: 28px;
    color: #000000;
}

.footer li {
    margin: 0;
    padding: 22.5px;
    display: inline-block;
    
    color: #000000;
    font-size: 24px;
}

.footer {
    background-color: #b4b7ba;
    width: 1280px;
}

.footer li:hover {
    
    text-decoration: underline;
}

.footer a:hover {
    color: #3a85a7;
}

.footer-menu, .copyright {
    display: inline-block;
}

.copyright {
    float: right; 
    font-size: 24px;
    padding: 38.5px;
}

