.container{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    width: 100%;
    color: #37393f;
    letter-spacing: 2px;
    max-width: 1280px;
}
.menu li {
    display: inline-block;
    margin-right: 65px;
    
}
.menu {
    margin-left: 330px;
}
a {
    text-decoration: none;
    color: #80c2b2;
    font-variant: small-caps;
    font-size: 25px;
}

.image >img {
    width: 100%;
}
.content {
    margin: 0;
    padding: 50px;
    text-align: center;
    background-color: #f5f6f7;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

p {
    margin: 20px 115px;
    font-size: 16px;
}

.button>a {
    background-color: #16a085;
    border: none;
    color: white;
    padding: 15px 46px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 46px;
    margin-bottom: 90px;
    border-radius: 5px;
}


.footer {
    text-align: end;
    padding-bottom: 45px;
    padding-top: 45px;
}

.footer>span {
    margin-right: 100px;
}
