body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    max-width: 1205px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 20px solid #3a4965;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

td {
    /* box-shadow: 4px 0px 0px -1px rgba(0,0,0,0.15); */
    border-right: 2px solid #cfcfcf; 
    border-left: 2px solid #cfcfcf; 
    padding: 27px;
    text-align: center;
}

th {
    color: #ffffff;
    padding: 27px;
    font-size: 24px;
}

.header:first-child {
    background-color: #fafafa;
}

.price td {
    background-color: #fafafa;
}

th:first-child {
    color: #484848;
    font-size: 18px;
    /* width: 309px; */
}

th:first-child span {
    font-size: 30px;
    font-weight: 400;
}

th:nth-child(2) {
    background-color: #89c331;
}

th:nth-child(3) {
    font-size: 30px;
    background-color: #f04a56;
}

th:nth-child(4) {
    background-color: #20807c;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

td:first-child {
    max-width: 309px;
}

.price td {
    padding: 10px;
}

.price .amount {
    font-size: 60px;
    color: #484848;
    font-weight: 700;
}

.price sup {
    position: relative;
    bottom: 3px;
    font-size: 24px;
}
.price .period {
    position: relative;
    right: 35px;
    font-size: 18px;
}

.fas, .far {
    margin-right: 13px;
    font-size: 1.33em;
    color: #848484;
}

.button button {
    padding: 18px 58px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

button:hover {
    filter: brightness(85%)
    }

td.button:first-child {
    background-color: #dddddd;
}

td.button:nth-child(even) {
    background-color: #eeeeee;
}

td.button:first-child button {
    background-color: #484848;
    box-shadow: inset 0px -10px 5px 0px #404040;
}

td.button:nth-child(2) button {
    background-color: #89c331;
    box-shadow: inset 0px -10px 5px 0px #79b027;
}

td.button:nth-child(3) button {
    background-color: #f04a56;
    box-shadow: inset 0px -10px 5px 0px #df3a46;
}

td.button:last-child button {
    background-color: #20807c;
    box-shadow: inset 0px -10px 5px 0px #16736f
}

